#index {
  color: #d3d6dd;
  background-color: #000000;
  width: 100%;
  height: 100%;
}

#index .bg {
  padding: 0.2rem 0.2rem 0 0.2rem;
  background-image: url("/image/screen/pageBg.png");
  background-size: cover;
  background-position: center center;
}

#index .host-body .title {
  position: relative;
  width: 6.25rem;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#index .host-body .title .title-text {
  font-size: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

#index .host-body .title .title-bototm {
  position: absolute;
  bottom: -0.375rem;
  left: 50%;
  transform: translate(-50%);
}

#index .host-body .react-left {
  cursor: pointer;
  font-size: 0.225rem;
  width: 3.75rem;
  height: 0.625rem;
  line-height: 0.625rem;
  text-align: center;
  transform: skewX(-45deg);
}

#index .host-body .react-left .react-after {
  position: absolute;
  right: -0.3125rem;
  top: 0;
  height: 0.625rem;
  width: 0.625rem;
  background-color: #0f1325;
  transform: skewX(45deg);
}

#index .host-body .react-left .text {
  display: inline-block;
  transform: skewX(45deg);
}

#index .host-body .react-right {
  cursor: pointer;
  font-size: 0.225rem;
  width: 3.75rem;
  height: 0.625rem;
  line-height: 0.625rem;
  text-align: center;
  transform: skewX(45deg);
}

#index .host-body .react-right .react-before {
  position: absolute;
  left: -0.3125rem;
  top: 0;
  height: 0.625rem;
  width: 0.625rem;
  background-color: #0f1325;
  transform: skewX(-45deg);
}

#index .host-body .react-right .text {
  display: inline-block;
  transform: skewX(-45deg);
}

#index .host-body .body-box {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
}

#index .host-body .body-box .content-box {
  display: grid;
  grid-template-columns: 2fr 3fr 5fr 3fr 2fr;
}

#index .host-body .body-box .bototm-box {
  margin-top: 0.125rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
